<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.2/dist/leaflet.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/jquery.tooltip.css">
    <link rel="stylesheet" href="/css/css_responsive.css">
    <title>Vigilancia Entomologica</title>
</head>

<body>
    <div class="container" id="cont" style="height: 100%; filter: blur(0px); ">
        <div class="row" id="head_main">
            <div class="col-md-2" class="col-xs-6" id="sect01">
                <p>SISTEMA DE VIGILANCIA</p>
            </div>
            <div class="col-md-6" class="col-xs-6" id="sect02" style="cursor: pointer;" onclick="fileSelect()">
                <div class="row" style="align-items: center">
                    <div class="col-4" style="text-align-last: end;align-self: center;"><img src="/images/icon-csv.png" style="height:3vh"></div>
                    <div class="col-8" style="text-align-last: start;">
                        <p id="bCSV">Abrir archivo csv</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4" class="col-xs-0" style="padding: 0;text-align: center; font-size: 14px;" id="sect0" onclick="abrirColoniasInfo()" placeholder="Muestra la información de cada Colonia">
                Mostrar la información de cada Colonia
            </div>
        </div>
        <div class="row" id="center_main" style="height:59.5vh">
            <div class="col-md-7" class="col-sm-12" id="sect12" style="padding: 8px;  margin: 0;">
                <canvas id="canvasMap" style="display: none;"></canvas>
                <div class="map" style="height: 56vh" id="map_c1"></div>
            </div>
            <div class="col-md-2" class="col-sm-12" id="sect13">
                <div style="height:70%">
                    <p>Porcentaje de Huevos por Colonia </p>
                    <hr><canvas id="graf_ph"></canvas>
                </div>
                <div style="height:10%">
                    <p class="centrado">Cantidad de Ovitrampas</p>
                    <div class="centrado">
                        <h1 id="n_ovi">0</h1>
                    </div>
                </div>
            </div>
            <div class="col-md-3" class="col-sm-12" id="sect14">
                <div style="height:5%">
                    <p>Zonas</p>
                    <hr>
                </div>
                <div class="row" id="style-15" style="overflow: scroll;height:84%">
                    <div id="zona_name"></div>
                </div>
                <div class="row" id="button_descriptivos">
                    <button id="b_descriptivos" onclick="mostrarVentanaEstDesc()">Estadística descriptiva</button>
                </div>
            </div>
        </div>
        <div class="row" style="height:35vh">
            <div class="col-md-7" id="sect2"><canvas id="graph_pop" style="width: -webkit-fill-available; height: 34vh;"></canvas>
                <!--input(type="text", name="cvegeoedo", value="01", id="cvegeoedo"  accept=".csv" required)-->
            </div>
            <div class="col-md-5" id="sect2"><canvas id="graphPM" style="width: -webkit-fill-available; height: 34vh"></canvas></div>
        </div>
    </div>
    <div id="filecsv" style="display:none">
        <div class="row" style="height: 15vh;margin-left: 10px;">
            <div style="text-align: end;"><button id="b" onclick="closedivCSV()" style="border: none;background: none;"><img src="/images/close-button.png" height="35" width="35"></button></div><strong style="font-size: 14px;font-family: monospace;">Seleccionar
                Archivo .csv</strong>
            <form class="form-inline"><input type="file" id="files" accept=".csv" required=""></form>
        </div>
        <div id="csv_tr"></div>
        <div class="row" style="height:65%;margin: 10px">
            <div class="col-md-9" id="csv_table" style="height: -webkit-fill-available;overflow:scroll"></div>
            <div class="col-md-3" style="height: -webkit-fill-available;">
                <div class="scrollbar" style="height: -webkit-fill-available;" id="style-15">
                    <div id="selectCSV"></div>
                </div>
            </div>
        </div>
        <div class="row" style="height:10vh;">
            <div class="col-md-2"><button id="ver_csv_map" style="font-size: large;margin-left: 10px;" onclick="getDataCSV()">Analizar</button></div>
        </div><textarea name="" style="display:none" cols="200" row="600" id="area"></textarea>
    </div>
    <div id="interpolarCSV" style="top: -150%;">
        <div style="text-align: end"><button onclick="closeWCSVInter()" style="border: none;background: #444444;"><img src="/images/close-button.png" height="35" width="35"></button></div> 
        <div id="nomColInter">
            <p id="nomColInterp"></p>
            <div id="muestra_button_v_interpolar"></div>
        </div>
        <div id="contendCSV">
            <div class="map" id="map_c2"></div><img src="/images/loading2.gif" style="display: none; left: 40%;position: relative;width: 20%;height: 40%;margin-top: -50%;" id="imgLoading">
        </div>
         <div id="divProgressInterpolar" style="display:none;">
            <h4>Generando superficie...</h4>
            <progress id="progressInter" style="width: 100%;height: 50px;" max="100" value="10"></progress>
            <button id="button_cancel_inter" value="" onclick="cancelar_interpolacion()">Cancelar</button>
        </div>
    </div>
    <div id="divHistoMes" style="display:none">
        <div id="close_div" style="text-align:end;"><button onclick="closeDivHistoMes()" style="border: none;background: none;"><img src="/images/close-button.png" height="35" width="35"></button></div>
        <div class="row">
            <div class="col-md-4" style="  height: 50vh; padding-right: 0;padding-left: 2%;">
                <div style="padding-left: 5%; padding-right: 5%;" id="col4Mes">
                    <p>Colonias Seleccionadas</p>
                    <div id="coloniasSelecDivProm" style="overflow-y:auto"></div>
                    <div>
                        <div class="row">
                            <div></div>
                            <div>
                                <p>MOSTRAR POR :</p>
                            </div>
                            <div class="col-md-6">
                                <p>MES</p><input class="optMesDia" type="checkbox" id="checkMes" name="optMesDiaN" onchange="javascript:optMoD()">
                            </div>
                            <div class="col-md-6">
                                <p>DIA</p><input class="optMesDia" type="checkbox" id="checkDia" name="optMesDiaN" onchange="javascript:optMoD()">
                            </div>
                        </div>
                        <p>Seleccione el Rango de Fecha:</p><input type="date" id="fecha1Mes" value="2022-04-01" required="">
                        <p>-</p><input type="date" id="fecha2Mes" value="2022-04-03" required=""><br><button onclick="getDatMes()" style="color: white;background: #494949; margin-top:3%;display: block;border: inset #ffffff;font-size: 1rem;">Hecho</button>
                    </div>
                </div>
            </div>
            <div class="col-md-8" style=" padding-right: 2%;padding-left:0;">
                <div id="col4Mes">
                    <p>Promedio por Fechas</p><canvas id="grapMesProm"></canvas>
                </div>
            </div>
        </div>
    </div>
    <div id="id_variograma" style="display:none;">
        <div style="text-align: end;cursor: move;" id="moveVario"><button onclick="closeVariograma()" style="border: none;background: #444444;"><img src="/images/close-button.png" height="35" width="35"></button></div>
        <p id="VARIO_TITLE">Ajuste del Semivariograma</p>
        <div class="row" style="padding: 23px;">
            <div class="col-md-3">
                <div>
                    <p>Modelo Teórico</p>
                    <hr>
                    <select id="select_model" name="select_model">
                        <option value="exp" selected>Modelo Exponencial</option>
                        <option value="gauss">Modelo Gaussiano</option>
                        <option value="esf">Modelo Esférico</option>
                    </select>
                </div>
                <br>
                <div id="metDiv">
                    <p>Ajuste por Mínimos Cuadrados Ordinarios(MCO) <br>
                        <hr>
                        <div id="data_mco">
                            <p>Nugget:<br>Sill:<br>Rango:<br>Sill-parcial:</p>
                        </div>
                        <button onclick="MCO()" style="border-radius: 14px;width: -webkit-fill-available">
                            <p>Ajustar MCO</p>
                        </button><br><br>
                </div>
                <br>
                <div id="metDiv">
                    <p>Ajuste manual
                        <p>
                            <hr>
                            <table>
                                <tr>
                                    <td>
                                        <p>Nugget</p>
                                    </td>
                                    <td><input id="nugget" type="text" name=""></td>
                                </tr>
                                <tr>
                                    <td>
                                        <p>Sill</p>
                                    </td>
                                    <td><input id="sill" type="text" name=""></td>
                                </tr>
                                <tr>
                                    <td>
                                        <p>Rango</p>
                                    </td>
                                    <td><input id="range" type="text" name=""></td>
                                </tr>
                            </table>
                            <button onclick="ajusteManual()" style=" border-radius: 14px;width:-webkit-fill-available">
                                <p>Ajustar</p>
                            </button>
                </div>
                <br>
                <button onclick="interpolar('kriging')">
                    <p>Generar superficie</p>
                </button>
            </div>
            <div id="grafdiv" class="col-md-9"> <canvas id="variograma"></canvas></div>
        </div>
    </div>
    <div style="display:none" id="divError">
        <div style="text-align: end"><button onclick="closeVerror()" style="border: none;background: red;"><img src="/images/close-button.png" height="35" width="35"></button></div>
        <h2>Error</h2>
        <br>
        <p id="msg"></p>
    </div>
    <div id="ventanaEstDesc" style="display: none;">
        <div style="text-align: end;cursor: move;" id="moveVario"><button onclick="closeTableDescri()" style="border: none;background: #ffffff;"><img src="/images/close-button.png" height="35" width="35"></button></div>
        <div style="height: 90%;width: 100%; overflow-y: scroll;">
            <table class="default" style="width: 100%;">
                <tr>
                    <th>gid</th>
                    <th>Colonia</th>
                    <th>Cantidad de Ovitrampas</th>
                    <th>Total de Huevos Registrados</th>
                    <th>Promedio</th>
                    <th>Varianza</th>
                    <th>Desviación Estándar</th>
                    <th>Mínimo </th>
                    <th>Máximo</th>
                    <th>Rango</th>
                    <th>Histograma de Frecuencias</th>
                </tr>
                <tbody id="decriptivo_table_body">
                </tbody>
            </table>
        </div>
    </div>
    <div id="ventanaHistogramaDeFrecuencias" style="display: none;">
        <div style="text-align: end;" id="moveVario"><button onclick="closeHistograma()" style="border: none;background: #44444400;"><img src="/images/close-button.png" height="35" width="35"></button></div>
        <div style=" height: 90%;  text-align: -webkit-center;">
            <canvas id="histogramaChart"></canvas>
        </div>
    </div>
    <div id="validacioncruzada" style="top: -100%;">
        <div style="text-align: end;" id="cerrar_error"><button onclick="closeError()" style="border: none;background: #44444400;"><img src="/images/close-button.png" height="35" width="35"></button></div>
        <div class="row">
            <div class="col-md-5">
                <div style=" color: black; height: 75vh; overflow-y: scroll; ">
                    <table id="tableVC">
                        <tr>
                            <th>Valor Real</th>
                            <th>Valor Estimado</th>
                            <th>Error</th>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </table>
                </div>
                <div style="color:black;">
                    <p id="errorpromedio">Promedio:</p>
                    <p id="correlaciozv">Correlacion:</p>
                </div>
            </div>
            <div class="col-md-7" style="height: 83vh;">
                <div class="row" style=" height: 93vh;">
                    <div class="col-md-12" style=" height: 40vh ">
                        <canvas style=" height: 40vh !important " id="error_prediccion"></canvas>
                    </div>
                    <div class="col-md-12" style=" height: 40vh ">
                        <canvas style="height: 40vh !important " id="z_v"></canvas>
                    </div>
                </div>
            </div>
        </div>
        <div id="divProgressVC" style="display:none;">
            <h4>Generando datos...</h4>
            <progress id="progressVC" style="width: 100%;height: 50px;" max="100" value="0"></progress>
            <button id="button_cancel_vc" value="" onclick="cancelar_vc()">Cancelar</button>
        </div>
    </div>
    <div id="ventana_seleccionar_p" style="display:none;">
        <div style="text-align: end;" id="moveVario"><button onclick="closeSelectP()" style="border: none;background: #ffffff;"><img src="/images/close-button.png" height="35" width="35"></button></div>
        <div id="selectP">
            <div style="display: flex;justify-content: space-evenly;">
                <div><p>Seleccione el valor del parámetro de potencia <strong>p</strong>  :</p></div>
                <div><input id="valor_potencia_p" value="2" min=1 max=100 type="number"></div>
            </div>
            <br><br>
            <div style="display: flex;justify-content: space-around;">
                <div>
                    <button onclick="interpolar('idw')">Generar Superficie</button>
                </div>
                <div>
                    <button onclick="validacionCruzada('idw')">
                        <img src="/images/graf.png" id="icon_inter">Validación cruzada
                    </button>
                </div>
            </div>
        </div>
    </div>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.js"></script>
    <script src="/js/chart-loader.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <!--<script src="/js/chart.js"></script>-->
    <script src="https://unpkg.com/leaflet@1.0.2/dist/leaflet.js"></script>
    <script src="/js/turf.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="/jsIndex.js/variables_g.js"></script>
    <script src="/jsIndex.js/cargar_name_colonias.js"></script>
    <script src="/jsIndex.js/bundle.js"></script>
    <script src="/jsIndex.js/maps_config.js"></script>
    <script src="/jsIndex.js/chart_config.js"></script>
    <script src="/jsIndex.js/modDOM.js"></script>
    <script src="/jsIndex.js/funct_load_data.js"></script>
    <script src="/jsIndex.js/indicadores.js"></script>
    <script src="/jsIndex.js/addZonaMapa.js"></script>
    <script src="/jsIndex.js/mapacalor.js"></script>
    <script src="/jsIndex.js/promediarMesDia.js"></script>
    <script type="text/javascript" src="/js/verificarpantalla.js"></script>
</body>

</html>