@media (max-width: 768px) and (min-width: 100px) {
	#head_main{
		height: 7.5vh !important;
	}
	#sect01 {
		display: none;
	}
	#sect02 {
		width: 50%;
		height: 7vh;
		display: flex;
    	justify-content: center;
	}
	#sect0{
		height: 7vh;
		width: 50%;

	}
/*center*/
	#sect11{
		height: 40vh;
	}
	#center_main{
		height: max-content !important;
	}
	#sect21{
		display: none;
	}
	.container{
		overflow: scroll;
	}
	#validacioncruzada{ 
		overflow: scroll; 
    	height: 100%;
	}
	#filecsv{
		font-size: 8px !important;
    	left: 0%;
    	width: 100%;
    	top: 0%;
    	height: 100%;
	}
	#csv_div_table{
		    height: 74% !important;
		    margin-bottom: 20px !important;

	}
	#csv_table{
		height: 50% !important;
		margin-bottom: 10px;
	}
	#col_select{
		height: 50% !important;
	}
}